
<!-- <app-common-header ></app-common-header> -->

<header class="cmn_header">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto logo">
                <img src="../../../../assets/images/logoo.svg" (click)="refreshPage()">
  
            </div>
            <div class="col-auto ml-auto" >
                <ul>
        
                </ul>
            </div>
        </div>
    </div>
  </header>
  
  
  
  
  <div  class="container about-us-cls p-3 py-4" style="text-align: justify;">
    <h2  class="text-primary fw-bold">Know more about O-Trim </h2>
    <p > O-Trim is a URL trimming tool created by ONPASSIVE. The tool is enriched with a unique
      capacity to shorten the URL link of the given website. It makes a URL that is easy to send, share, broadcast and
      publicize on social media and other platforms.</p>
    <p >The customization of the website URL in O-Trim is needed in today’s world. Most often, we
      come across websites that have lengthy link address that sometimes gets broken and lost in the plethora of a number
      of website information. Here, O-Trim comes in handy and gets the job done by reducing the lengthy URL into a small
      one and is able to have a smooth transition from one user to another that finally leads to a landing page on the
      social media.</p>
    <p >O-Trim is used to track URL created by a registered user and access the user's location. It
      also gives an option to add an alias name to identify the shortened URL. It also helps the users to retrieve the
      original URL. O-Trim provides security for the created shorten URL by sending an email authentication for sharing to
      external user thereby increasing its efficiency and usage among the customer base. </p>
  </div>
  
  
  <app-otrim-footer></app-otrim-footer>
  <app-otrim-copyright></app-otrim-copyright>