<!-- <footer>


    <div class="container">
        <div class="row" style="padding: 20px;">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <ul>
                            <li>
                                <a target="_blank" 
                                href="https://ouat.onpassive.com/aboutus.html"
                                 class="anchor_tag"> About Us </a>
                            </li>
                            <li><a href="https://www.onpassive.com/otrim"
                                 class="anchor_tag" 
                                 target="_blank">Products</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul>
                            <li><a href="https://ouat.onpassive.com/term-of-use.html" 
                                class="anchor_tag" target="_blank">Term Of Use</a></li>
                            <li><a href="https://ouat.onpassive.com/privacy-policy.html"
                                 class="anchor_tag" target="_blank">Privacy Policy</a></li>
                     
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul>
                            <li><a href="https://ouat.onpassive.com/contact-us.html" 
                                class="anchor_tag" target="blank">Contact Us</a>
                            <li><a href="https://ouat.onpassive.com/refund-policy.html" 
                                class="anchor_tag" target="_blank">Refund Policy</a></li>
                            <li>support@gofounders.net</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="pull-right">
                    <h4 style="padding-left:9px;">Stay Connected With Us</h4>
                    <ul class="social_icons">
                        <li>
                            <a href="https://www.facebook.com/onpassiveotrim" class="social-margin"  target="blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/ONPASSIVE" class="social-margin"  target="blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.youtube.com/c/ONPASSIVE" class="social-margin"  target="blank">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                  

                        <li>
                            <a href="https://www.instagram.com/ONPASSIVE/" class="social-margin"  target="blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>

                              <li>
                            <a href="https://www.linkedin.com/company/onpassiveofficial" class="social-margin" target="blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>     -->




<!-- <footer>
    <div class="container">
        <div class="row" style="padding: 20px;">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <ul>
                       
                            <li  (click)="gotoaboutus()">
                                <a href="javascript:void();"  class="anchor_tag"  > About Us </a>
                            </li>
                                
                            <li (click)="gototermsAndcondtions()" ><a href="javascript:void();"
                                class="anchor_tag" >Terms and Conditions</a></li>
                  
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul>

                           
                            <li (click)="gotoprivacypolicy()"><a href="javascript:void();"
                                 class="anchor_tag" >Privacy Policy</a></li>
               
                                <li><a href="https://ouat.onpassive.com/contact-us.html" 
                                    class="anchor_tag" target="blank">Contact Us</a>
                                </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul>
                            <li>support@gofounders.net</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="pull-right">
                    <h4 style="padding-left:9px;">Stay Connected with Us</h4>
                    <ul class="social_icons">
                        <li>
                            <a href="https://www.facebook.com/onpassiveotrim" class="social-margin"  target="blank">
                                <img src="assets/images/social_icons/1.svg" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/onpassiveotrim" class="social-margin"  target="blank">
                                <img src="assets/images/social_icons/3.svg" alt="">
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.youtube.com/c/ONPASSIVE" class="social-margin"  target="blank">
                                <img src="assets/images/social_icons/4.svg" alt="">
                            </a>
                        </li>
                  

                        <li>
                            <a href="https://www.instagram.com/onpassiveotrim/" class="social-margin"  target="blank">
                                <img src="assets/images/social_icons/2.svg" alt="">
                            </a>
                        </li>

                              <li>
                            <a href="https://www.linkedin.com/company/onpassiveotrim/" class="social-margin" target="blank">
                                <img src="assets/images/social_icons/5.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>     -->


<!-- new footer -->

<footer >
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <a class="navbar-brand" >
              <img src="../../../../assets/images/O-Trim-svg.svg" class="img-fluid cursor h-48">
            </a>
            
            <p class="text-white mt-3 mb-2">
                O-Trim is a URL trimming tool created by ONPASSIVE. The tool is enriched with a unique capacity to shorten the URL link of the given website. It makes a URL that is easy to send, share, broadcast and publicize on
              . </p>
            <div class=" social-icons">
              <span class="text-white">
                <h4 style="padding-left:9px;">Stay Connected with Us</h4>
                

              </span>

              
         
            
              <ul class="social_icons">
                <li>
                    <a href="https://www.facebook.com/onpassiveotrim" class="social-margin"  target="blank">
                        <img src="assets/images/social_icons/1.svg" alt="">
                        <!-- <i class="fa fa-facebook" style="color:#3b5998" aria-hidden="true"></i> -->
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/onpassiveotrim" class="social-margin"  target="blank">
                        <img src="assets/images/social_icons/3.svg" alt="">
                        <!-- <i class="fa fa-twitter" style="color: #00acee;" aria-hidden="true"></i> -->
                    </a>
                </li>
                
                <li>
                    <a href="https://www.youtube.com/c/ONPASSIVE/" class="social-margin"  target="blank">
                        <img src="assets/images/social_icons/4.svg" alt="">
                        <!-- <i class="fa fa-youtube-play"  style="color:  #c4302b;" aria-hidden="true"></i> -->
                    </a>
                </li>
          

                <li>
                    <a href="https://www.instagram.com/onpassiveotrim/" class="social-margin"  target="blank">
                        <img src="assets/images/social_icons/2.svg" alt="">
                        <!-- <i class="fa fa-instagram"  style="color: #c32aa3;" aria-hidden="true"></i> -->
                    </a>
                </li>

                      <li>
                    <a href="https://www.linkedin.com/company/onpassiveotrim/" class="social-margin" target="blank">
                        <img src="assets/images/social_icons/5.svg" alt="">
                        <!-- <i class="fa fa-linkedin"  style="color:#0e76a8" aria-hidden="true"></i> -->
                    </a>
                </li>
            </ul>



  
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
  
              <div class="col-md-6 col-6">
                <!-- p-0 -->
                <h6 class="mb-3 set-font-cls">Useful Links</h6>
                <ul class="p-0">
            
                    <li  (click)="gotoaboutus()">
                        <a   href="javascript:void();"  class="anchor_tag links_cls"  > About Us </a>
                    </li>
               
                    
                  <li (click)="gotoprivacypolicy()"><a   href="javascript:void();"
                    class="anchor_tag links_cls" >Privacy Policy</a></li>
  
              
                  <!-- <li><a [routerLink]="['refund-policy']" class="text-white">Refund Policy</a></li> -->
                  <!-- <li><a [routerLink]="['/news-letter']" class="text-white">Newsletter</a></li> -->
                </ul>
              </div>
  
              <div class="col-md-6 col-6">
                <h6 class="mb-3 set-font-cls">Privacy</h6>
                <ul class="p-0">
                
                    <li (click)="gototermsAndcondtions()" ><a    href="javascript:void();"
                        class="anchor_tag links_cls" >Terms and Conditions</a></li>
          

                        <li style="cursor: pointer;"  ><a     (click)="gotoContactUsPage()" 
                            class="anchor_tag links_cls" >Contact Us</a>
                        </li>
                
                    <!-- <li><a [routerLink]="['contact-us']" class="text-white">Contact Us</a></li> -->
                <!-- <li><a [routerLink]="['/faqs']" class="text-white">FAQ's</a></li> -->
  
                </ul>
              </div>
              <div class="mt-3">
             
                 <form >
                  <div class="input-group mt-1 mb-3 ml-3">
                    <input type="text" id="email" 
                    [(ngModel)]="subscribeMail"
                    class="form-control text-white" name="email" 
                      placeholder="Enter your E-mail Address">
                    <button type="submit" class="btn btn-primary"
                    (click)="SaveSubscribeMailMethod()"
                      class="btn subscribe  text-uppercase pt-2">Subscribe</button>
                  </div>
                 
                </form> 
             
                <!-- <span style="color: red;font-weight: bold;" class="ml-2">{{message}}</span> -->
              </div>
            </div>


          </div>
          <div class="col-md-3 contact-info">
            <h6 class="mb-3 set-font-cls">Contact Info</h6>
  
            <!-- <div class="d-flex">
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@gofounders.net" class="text-white">support@gofounders.net</a></p>
            </div> -->
            <div class="d-flex" style="color: #fff;">
              <!-- <i class="fa fa-map-marker-alt"></i> -->
              <!-- <i class="fas fa-map-marker-alt"></i> -->
              <i class="fa fa-map-marker" aria-hidden="true"></i>

              <p class="join">7380 W Sand Lake Rd, Suite 500-529
                Orlando, FL 32819. USA
              </p>
            </div>
  
            <div class="d-flex"  style="color: #fff;">
              <!-- <i class="fa fa-map-marker-alt"></i> -->
              <i class="fa fa-map-marker" aria-hidden="true"></i>

              <p class="join">IT Campus <br>DSR Inspire, Plot No: 21, Sector: 1,
                Hitech City Rd, HUDA Techno Enclave,
                Madhapur,  Hyderabad, Telangana 500081. INDIA</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="footer-bottom">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto">
            <div class="d-md-flex">
              <p class="text-white mb-0">Copyright © 2021 All rights reserved</p>
              <span class="text-white px-2 mb-0">|</span>
              <a [routerLink]="['terms-and-conditions']" class="text-white">Terms and Conditions</a>
            </div>
          </div>
          <div class="col-auto text-md-right">
            <p>Powered by : <a href="https://www.onpassive.com" target="_blank">www.onpassive.com</a> </p>
          </div>
        </div>
      </div>
    </div>
     -->
    <!-- <a href="#" id="scroll" style="display: none;"><i class="fa fa-arrow-up"></i></a>l -->
  </footer>
  
  <!-- <footer >
    <div class="footer-bottom-db py-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row justify-content-center no-gutters">
              <div class="col-auto">Copyright © 2021 All rights reserved <span class="">| </span> </div>
  
              <div class="col-auto"><a href="javascript:avoid();">Terms and Conditions</a> <span class="">| </span></div>
             
              <div class="col-auto">Powered by : <a href="www.onpassive.com" target="_blank">www.onpassive.com</a> </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
  

  <!-- end new footer  -->



