
<!-- <app-common-header></app-common-header> -->


<header class="cmn_header">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto logo">
                <img src="../../../../assets/images/logoo.svg" (click)="refreshPage()">
  
            </div>
            <div class="col-auto ml-auto" >
                <ul>
        
                </ul>
            </div>
        </div>
    </div>
  </header>
  
  
  
  
  <div  class="container">
    <div  class="row">
      <div  class="col-12 mt-5 mb-5 card rounded-0">
        <h4  class="mt-3 mb-1 fw-bold text-primary pb-2">Refund Policy</h4>
        <ul  class="termofUse_content px-0">
          <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                 xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                <path 
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                </path>
              </svg></span>
            <p  class="float-start w-98">Founder/Customer/Member shall be eligible for a refund if
              they do not infringe the terms of use after his/her successful registration</p>
          </li>
          <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                 xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                <path 
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                </path>
              </svg></span>
            <p  class="float-start w-98">If a Founder/Customer/Member is found guilty for violating
              the terms of use, ONPASSIVE will scrutinize the fact/case and post completion of the compliance part, if the
              member is adhering to the norms as stated by ONPASSIVE then only the refund will be processed</p>
          </li>
          <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                 xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                <path 
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                </path>
              </svg></span>
            <p  class="float-start w-98">Founder/Customer/Member who wish apply for refund shall
              contact to our customer support through their authorised email address</p>
          </li>
          <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                 xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                <path 
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                </path>
              </svg></span>
            <p  class="float-start w-98">Only Active Founder/Customer shall be entitled to request,
              and eligible to receive, a full refund within the 30 (Thirty) days from the date of the registration of the
              account for which a refund is being requested</p>
          </li>
          <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                 xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                <path 
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                </path>
              </svg></span> Once the refund process is initiated, the Founder/Customer/Member shall not be a part of
            ONPASSIVE and his/her ownership will be forfeited with immediate effect.</li>
          <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                 xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                <path 
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                </path>
              </svg></span>
            <p  class="float-start w-98">The mode of refund will totally depend upon the Founder/
              Customer/Member details which has been provided to us at the time registration henceforth we will process
              the refund through only the original transaction mode which is available with us in our data base.(No Other
              Accounts/ cards/ wallet or other electronic transactions details of the founder shall be entertained )</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  <app-otrim-footer></app-otrim-footer>
  <app-otrim-copyright></app-otrim-copyright>