.forgotpassword_cls {
    background: #145FED;
    font-family: 'Open Sans', sans-serif;
  }
  .signup {
    margin-top: 100px;
  }
  .btn {
    background: #0E64F3;
    color: #fff;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0f51e3;
    background: none;
    border-radius: 0;
    font-weight: 600;
  }
  .nav-pills .nav-link {
    font-weight: 400;
    color: #7BAEFA;
    font-size: 18px;
  }
  .form-control {
      border: 1px solid rgba(21, 21, 237, 0.2);
      height: 46px;
  }
  .form-group > label {
    bottom: 40px;
    left: 15px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 14px;
    transition: 0.2s;
    pointer-events: none;
      color: #7BAEFA;
  }
  .form-control:focus ~ label {
    bottom: 65px;
      font-size: 10px;
  }
  .form-control:valid ~ label {
  bottom: 65px;
      font-size: 10px;
  }
  .eye-icon {
      position: relative;
  }
  
  .show-password {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
  }
  
  .error {
  color: #ff0000;
      font-size: 11px;
  }


  ul#pills-tab li.nav-item button {
    padding: 4px 10px;
    margin-right: 15px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-color: transparent;
    box-shadow: none !important;
    background: #fff;
}
ul#pills-tab li.nav-item button.nav-link.active{
  border-bottom: 5px solid #FFC10E;
}
ul#pills-tab li.nav-item button:focus {
  outline: 0px;
  box-shadow: none;
  background: #fff !important;
}



/* new css  */

.custcolor::placeholder {
    color: #989898 !important;
    opacity: 1; /* Firefox */
}
    

.custcolor:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #989898 !important;
}
    
.custcolor::-ms-input-placeholder { /* Microsoft Edge */
    color: #989898 !important;
}

 .forget_pass {
    margin-left: 25px;
}

.forget_pass:hover {
    color: #1877f2 !important;
    text-decoration: underline;
}

.eye_icon {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 38px;
    color: #6b6d70;
    cursor: pointer;
}

.login-ssubmit{
    background: #3860ae;
} */


 .forget_pass {
    margin-left: 25px;
}

.forget_pass:hover {
    color: #1877f2 !important;
    text-decoration: underline;
}

.eye_icon {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 38px;
    color: #6b6d70;
    cursor: pointer;
}

.login-ssubmit{
    background: #3860ae;
} 

.p_relative {
    position: relative;
}


.password_eye{
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    color: #fff;
}
.password_hint{
    z-index: 999;
}
.lsfModal .password_eye img {
    width: 24px;
}
.password_eye img {
    width: 24px;
}

.was-validated .custom-select:valid {
    background-image: none  !important;
  }
  
  
  .was-validated .custom-select:invalid {
    background-image: none !important;
  }

  .form-control.is-invalid{
    background-image: none  !important;
}

.invalid-feedback{
    margin-top: -30px !important;
    margin-bottom: 10px !important;
}

ul.a {
    list-style-type: square;
  }

  .password_text_cls{
    padding-left: 20px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 600;
}
  

/* end new css  */