<div class="container-fluid forgotpassword_cls">
    <div class="row">
      <div class="col-md-8 col-sm-8"> <img src="../../../../assets/images/new_images/16629.png" alt="O Trim" class="img-fluid mx-auto d-block"> </div>
      <div class="col-md-3 col-sm-3 signup bg-white rounded-3 p-5"> <img src="../../../../assets/images/new_images/logo.png" alt="O Trim" class="img-fluid mx-auto d-block">
        <ul class="nav nav-pills mt-5" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-signin-tab" data-bs-toggle="pill" data-bs-target="#pills-signin" type="button" role="tab" aria-controls="pills-signin" aria-selected="true">Forgot Your Password ?</button>
          </li>
        </ul>
       
        <div class="tab-content py-5" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-signin" role="tabpanel" aria-labelledby="pills-signin-tab">
           

            <div class="main-forgotpassword1" *ngIf="mail_enable" >


            <div class="form-group">
              <input type="email"
              (keydown.space)="$event.preventDefault()"
              [(ngModel)]="fg_email" [readonly]="otp_enable || pass_enable"
              class="form-control" id="email"  required>
              <label for="email">Enter Email ID</label>
            </div>		
            <div class="mb-2">
              <input type="button"
              (click)="verify_mail()" [disabled]="otp_enable || pass_enable"
              class="btn btn-info w-100 border-0 p-3 mt-5" value="SUBMIT">
            </div>
           
            
        </div>
            <br>

            <div class="forgot-password2" *ngIf="!mail_enable && otp_enable">


                <div class="tab-content " id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-signin" role="tabpanel" aria-labelledby="pills-signin-tab">
                        <div class="form-group">
                        <input type="text" 
                        [(ngModel)]="fg_email" [readonly]="otp_enable || pass_enable"
                        class="form-control" id="email"  required>
                        <label for="email">Enter Email ID</label>
                      </div>	
                      <div class="form-group">
                        <input type="text"
                        (keydown.space)="$event.preventDefault()"
                        [(ngModel)]="otp" maxLength="4" [readonly]="pass_enable"
                        class="form-control" id="email"  required>
                        <label for="email">Verification OTP</label>
                      </div>	
                      <div class="">
                        <input type="button" 
                        [attr.disabled]="pass_enable ? true : null"
                         href="javascript:void(0);" 
                         (click)="verify_otp()"
                        class="btn btn-info w-100 border-0 p-3 mt-5" value="OK">
                      </div>
                      <br>
                   </div>           
                  </div>    
                
            </div>


            <div class="forgotpassword3" *ngIf="pass_enable && !mail_enable && !otp_enable" >



                
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-signin" role="tabpanel" aria-labelledby="pills-signin-tab">
                          
                            <div class="form-group">
                                <input type="text" 
                                [(ngModel)]="fg_email" [readonly]="otp_enable || pass_enable"
                                class="form-control" id="email"  required>
                                <label for="email">Enter Email ID</label>
                              </div>	
                              
                          <div class="form-group">
                            <input type="text"
                            (keydown.space)="$event.preventDefault()"
                            [(ngModel)]="otp" maxLength="4" [readonly]="pass_enable"
                            class="form-control" id="email"  required>
                            <label for="email">Verification OTP</label>
                          </div>	
                     
                         
                          <div class="form-group eye-icon">
                            <input  
                            [type]="showpassword ? 'text' : 'password'" type="password"
                            (keydown.space)="$event.preventDefault()"
                            [(ngModel)]="fg_pass"
                            class="form-control" id="password"  required>
                        
                        

                            <label for="password">New Password*</label>

                            <a class="password_eye">
                                <img src="assets/images/pass-eye-slash.svg" (dragstart)="onDragStart($event)"  alt="" *ngIf="!showpassword" (mousedown)="showhidePassword(true)">
                                <img src="assets/images/pass-eye.svg" (dragstart)="onDragStart($event)" alt="" *ngIf="showpassword" (mouseleave)="showhidePassword(false)" (mouseup)="showhidePassword(false)">
                            </a>
                       
                          <div class="">
                            <input type="button"
                            (click)="sub_password()"
                            class="btn btn-info w-100 border-0 p-3 mt-5" value="RESET">
                          </div>
                          <br>
                       </div>           
                     </div>   
                        
                        
                



                <!-- <div class="w-100" *ngIf="pass_enable && !mail_enable && !otp_enable">
                    <div class="form-group p_relative">
                        <input [type]="showpassword ? 'text' : 'password'" type="password"
                        (keydown.space)="$event.preventDefault()"
                        class="form-control for-text-cls custcolor" placeholder="New Password" [(ngModel)]="fg_pass">
                        <a class="password_eye">
                            <img src="assets/images/pass-eye-slash.svg" (dragstart)="onDragStart($event)"  alt="" *ngIf="!showpassword" (mousedown)="showhidePassword(true)">
                            <img src="assets/images/pass-eye.svg" (dragstart)="onDragStart($event)" alt="" *ngIf="showpassword" (mouseleave)="showhidePassword(false)" (mouseup)="showhidePassword(false)">
                        </a>
                    </div>
                    <div class="mt-5" style="text-align: center;">
                        <button type="button" class="btn btn-primary  for-sub-btn-cls for-text-cls rounded-0 px-4" (click)="sub_password()">
                            <span class="px-2">Reset Password</span>
                        </button>
               
                    </div>
                </div> -->



            </div>





           
           
            <div  (click)="goback()"  class="mb-2"> <img src="../../../../assets/images/new_images/arrow-left-circle.png"
                 alt="O Trim" class="img-fluid"> Return Back </div>
          </div>           
          </div>      
        </div>
        
      </div>
    </div>
  