<!-- <app-common-header></app-common-header> -->

<header class="cmn_header">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto logo">
                <img src="../../../../assets/images/logoo.svg" (click)="refreshPage()">

            </div>
            <div class="col-auto ml-auto">
                <ul>

                </ul>
            </div>
        </div>
    </div>
</header>



<div class="container" style="text-align: justify;">
    <div class="row">
        <div class="col-12 mt-4 mb-5">
            <div class="col-12 mt-4 mb-0 card rounded-0">
                <div class="p-3 px-3 mb-0 rounded-0">
                    <h4 class="mt-0 mb-1 fw-bold text-primary pb-2">Privacy Policy</h4>
                    <p class="mb-0">
                        ONPASSIVE operates
                        <a  target="_blank" href="https://www.onpassive.com"> https://www.onpassive.com </a>
                        (the "Site"). This page informs you of our policies
                        regarding the collection,
                        usage and disclosure of Personal Information we receive from website users.
                    </p>
                    <p class="mb-0">

                        We use your Personal Information only for providing and improving the Site. By using the Site,
                        you agree to the collection and use of information under this policy.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-0 mb-1 fw-bold text-primary pb-2">Information we Collect</h4>
                    <p class="mb-2">When you create an ONPASSIVE account, we ask for personal information such as:</p>
                    <ul class="px-2 mx-0">
                        <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                                    <path
                                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                    </path>
                                </svg></span>
                            <p class="float-start w-98">Your name, mailing address, phone number, email address,
                                and other contact information</p>
                        </li>
                        <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                                    <path
                                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                    </path>
                                </svg></span>
                            <p class="float-start w-98">Your country of residence</p>
                        </li>
                        <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                                    <path
                                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                    </path>
                                </svg></span>
                            <p class="float-start w-98">Your expected availability to begin work</p>
                        </li>
                        <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                                    <path
                                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                    </path>
                                </svg></span>
                            <p class="float-start w-98">
                                The names and contact information for those you refer under our business plan program
                            </p>
                        </li>
                    </ul>
                    <p>
                        Founder/client/customers provide any personal information you have disclosed to us by including
                        it in the file your basic personal details upload. If you decide to contact us directly or
                        through an internet application; we will receive the contact information you provided so that we
                        could respond and any other personal information you included in your message.
                    </p>
                    <p> 
                        You may elect not to provide us with all the information we request. However, if you don’t provide the information we requested, we cannot 
                        provide you with an account or use our internet applications/software that facilitate you.

                    </p>
                    <p>
                    
                        We may combine information we collect about you with other information we receive from additional sources, such as information you may have provided to us by other means.

                    </p>
                    <p> 
                        Whether to provide your data is at your sole discretion. However, if the personal data you provided is reported or found to be insufficient to identify you, stolen from or untrue, or in the name of any other persons.
                         It will deprive you of rights or interest related to your participation in the event.
                    </p>
                    <p> 

                        Unless, with your consent or otherwise provided by law (on this website), we will not disclose your data to any third party or use them beyond the purpose (s) of collection.

                    </p>
                </div>
                <div class="p-0 px-3 mb-3 rounded-0">
                    <h4 class="mt-0 mb-1 fw-bold text-primary pb-2">How we Use your Information</h4>
                    <p>
                    
                        ONPASSIVE uses your information to provide you services. We also may use your information for a variety of related purposes and other business functions, such as:
                    </p>
                    <div class="pri-list">
                        <ul class="px-2 mx-0 mb-0">
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                
                                To fulfil your requests for information and to communicate with you. Such as alerting, upgrade and downgrade your level based on your performance

                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                
                                Provide you with services, training, help and consultation
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                 To assess whether you are qualified for a business level
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                    To consider and address feedback you may provide to us
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                            
                                    To inform our clients, founder and business partners about our services
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                
                                To help us administer or improve our business and our services, the applications and other processes we used to deliver those services, and the promotional materials we have developed to describe those services
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                    To send you the business proposal subject to your eligibility
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                    To perform research and analyses
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                To protect the integrity of or to improve our websites, information systems, and security
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                 To prevent physical harm or financial loss
                                </p>
                            </li>
                            <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10"
                                        height="10" fill="currentColor" viewBox="0 0 16 16"
                                        class="bi bi-caret-right-fill">
                                        <path
                                            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                        </path>
                                    </svg></span>
                                <p class="float-start w-98">
                                    For administrative purposes, such as risk management, to fulfil legal obligations, address compliance needs, and resolve or defend legal claims
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-0 mb-0 fw-bold text-primary pb-2">Retention</h4>
                    <p>
                       
                        All Personal Information collected from the Founder/Customer/Member under the point 'information we collect' at the time of registration will keep for as long as your account remains in existence, for such period subsequently, as required under any law for the time being in force.

                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-0 mb-0 fw-bold text-primary pb-2">Rights</h4>
                    <p>
                        As a registered user, you may access your profile to add, remove or change any registration information that you have supplied.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-0 mb-0 fw-bold text-primary pb-2">Protection of Personal Data</h4>
                    <ul class="px-2 mx-0 mb-0">
                        <li class="mb-2"><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="10" height="10" fill="currentColor" viewBox="0 0 16 16"
                                    class="bi bi-caret-right-fill">
                                    <path
                                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                    </path>
                                </svg></span>
                            <p class="float-start w-98">
                                We have installed firewall software, anti-virus software, and other relevant and necessary website security measures in the computer hosting this website to protect your data   
                            </p>
                        </li>
                        
                        <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                                    <path
                                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                                    </path>
                                </svg></span>
                            <p class="float-start w-98">
                                Only allowed personnel can access your data     
                            </p>
                        </li>


                        <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                            <path
                                d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                            </path>
                        </svg></span>
                    <p class="float-start w-98">
                        All personnel who may access your data shall have signed a Confidentiality Privacy Policy;
                         and shall assume legal liabilities for violation of the Privacy policy     
                    </p>
                </li>


                <li><span class="float-start w-2"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                    <path
                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                    </path>
                </svg></span>
            <p class="float-start w-98">

                If owing to the operational needs of this event (website), services from other institutions required. We will ask such institutions to keep your data in strict confidence,
                 and we conduct necessary inspections on them to ensure their compliance
      
            </p>
        </li>



                    </ul>
                </div>

                <!-- <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2">Log Data</h4>
                    <p class="mb-2"> Like many site operators, we collect information that your browser
                        sends whenever you visit our Site ("Log Data"). </p>
                    <p>This Log Data may include information such as your computer's Internet Protocol
                        ("IP") address, browser type, browser version, and the pages of our Site that you visit, the
                        time and date
                        of your visit, the time spent on those pages and other statistics.</p>
                </div> -->

                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2">International Data Transfer</h4>
                    <p>
                        ONPASSIVE is a global company that operates in many worldwide locations. We also work with business partners and clients in multiple worldwide locations. We may transfer the personal information we collect to any country where we do business. Those countries may not have the same data protection laws as the country in which you live. No matter where we transfer personal information collected, that information will be subject to the policies and protections described by this notice.
                    </p>

                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2">
                        Sensitive Personal Data or Information (“SPDI”)
                    </h4>
                    
                    <p>
                        <strong> (a) </strong> 	means passwords, financial information, such as bank account or credit card or debit card or other payment instrument details, any detail relating to the above as provided to COMPANY for providing service; and any information received under the above by COMPANY for processing, stored or processed under lawful contract or otherwise.
                    </p>
                    <p>
                       <strong> (b) </strong>  	COMPANY requires getting prior consent from the information provider regarding the purpose and usage of the SPDI. They should collect such information; only if it is essential for a lawful purpose connected with the COMPANY functioning.
                    </p>

                    <p>
                        <strong> (c)</strong>
                        Founder/Customer has no right to share/disclose the SPDI details in public and, if found to be in violation, that Company has legal right to end his/her registration without notice.
                    </p>

                    <p>
                        <strong> (d) </strong>  	  Founder/Customer agrees and consents that the Company may use and disclose his/her data for the information sought by governmental agencies or under applicable legal provisions. And for COMPANY business requirements, and further agrees Founder/ Customer has no rights to claim, sue, or approach any Legal remedy for such disclosure.
                    </p>

                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2">Covenant Not to Sue</h4>
                    
                    <p>
                        RECIPIENT shall not institute any action or suit at law or in equity against OWNER, nor institute, prosecute or aid in the institution or prosecution of any claim, demand, action, or cause of action arising out of the INFORMATION or any INTELLECTUAL PROPERTY. Thereof, including but not limited to, claim, demand, action, or cause of action for invalidating any INTELLECTUAL PROPERTY of OWNER.
                    </p>

                </div>
                
                <!-- <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Damages and Specific Performance</h4>
                    <p>FOUNDER/CUSTOMER agrees that should FOUNDER/CUSTOMER breach any portion contained in
                        this Privacy policy that COMPANY would suffer irreparable harm and COMPANY would be without
                        adequate remedy
                        at law and that COMPANY may obtain injunctive relief, including specific performance of the
                        Privacy policy,
                        as well as monetary award for damages suffered by COMPANY for FOUNDER/CUSTOMER’S breach of this
                        Privacy
                        policy.</p>
                </div> -->

                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> 
                        Publishing Offensive, False or Threatening Information
                    </h4>
                
                    <p>
                        Founder/Customer who sends offensive information by any means of a computer resource, which relates to the defamation. Whether slander or libel or has a menacing character; or any information which he knows to be false (viz. sharing marketing campaigns structure or the information and other confidential information). 

                    </p>

                    <p>
                        But to cause annoyance, inconvenience, danger, obstruction, or insult, etc., shall be punishable by Law and action of a breach shall cause a violation of privacy policy and suspension or termination of his/her registration/enrolment as Founder/ Customer.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2">Severability</h4>
                    
                    <p>
                        Should a court of competent jurisdiction find that any portion of this Privacy policy is invalid, illegal, or unenforceable, the remaining provisions shall remain in full force and effect. The parties shall use reasonable efforts to substitute a legal and enforceable provision that implements purposes of the provision so held invalid, illegal, or unenforceable to any extent permissible under the law.
                    </p>

                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2">
                        Governing Law and Jurisdiction
                    </h4>
                    <p>
                        The laws of the Country shall govern the establishment, validity, execution and dispute. The Courts at the registered office of the COMPANY shall have the exclusive jurisdiction to entertain and resolve all the conflicts between the parties.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Communications</h4>
                <p>
                    We may use your Personal Information to contact you with newsletters, marketing, digital marketing or promotional materials and other information if required.
                </p>   
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Cookies</h4>
           
                    <p>
                        Cookies are files with a small amount of data, which may include an anonymous specific identifier. Cookies sent from the website to your browser are stored in your computer's hard drive. Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to show only accepted cookies. However, if you do not accept cookies, you may not use some portions of our Site.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Security</h4>
                    <p>
                        Security of your Personal Information is important to us. But remember that no transmission method on the Internet and electronic storage is 100% secure. While we strive to use acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Disclosures and Transfer</h4>
                    <p>
                        Save as otherwise set out in the point ‘How we Use your Information’ concerning the information provided to us, will not be shared/disclosed and transferred to any third party.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Disclaimer</h4>
                    <p>
                        Website is being made available on a service provider basis, and the ONPASSIVE makes no warranties of any kind, whether express, implied, statutory or otherwise, concerning the website functioning. All services provided by the ONPASSIVE website are never wholly free from defects, bugs and errors, and ONPASSIVE provides no warranty or representation to that effect; the website will be compatible with any software not explicitly identified as Compatible. ONPASSIVE disclaims any implied warranties of non-infringement. The functioning of the website and services depends upon the compliance of all registered users with these terms.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Updates to Our Privacy Notice</h4>
                
                    <p>
                        We may update this notice without prior notice to you to reflect changes in our information collection, use, and security practices. If the notice gets updated, it shall be your responsibility to keep track of that updated notice.
                    </p>
                </div>
                <div class="p-0 px-3 mb-0 rounded-0">
                    <h4 class="mt-2 mb-0 fw-bold text-primary pb-2"> Grievances</h4>

                    <p>
                        If you have any concern or question with this Privacy Policy, you may address them at this EMAIL Address- 
                        <a href="mailto:legal@onpassive.com">legal@onpassive.com</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<app-otrim-footer></app-otrim-footer>
<app-otrim-copyright></app-otrim-copyright>