
<section class="slider">
    <div class="container">
        <div #analyticsSlider class="fadeOut owl-carousel owl-theme ">
            <div class="item">
                <div class="row mb-5">
                    <div class="col-lg-7 col-sm-12 my-auto">
                        <h3 class="courosel-heading" >Analytics View of Links</h3>
                        <p class="sub_para">
                        
                            O-Trim URL provides an amazing analytics view of paste links accessed from various channels, regions, browsers and mobiles. O-Trim gives a definite insight into the posts capable of gathering a broad audience.
                

                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <!-- <img src="assets/images/slider/44.jpg" alt="" class="img-fluid slider_img_cls"> -->
                        <img src="../../../../assets/images/sliderimageone.png" alt="" class="img-fluid slider_img_cls">

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7 col-sm-12 my-auto">
                        <h3 class="courosel-heading">Audience Attention</h3>
                        <p class="sub_para">
                        
                            It is essential to shorten your URL links because it is easier for an audience to trust and click a shorter link (provided by a credible source) when compared to a longer link. 
          
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <img src="assets/images/slider/33.jpg" alt="" class="img-fluid slider_img_cls">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7 col-sm-12 my-auto">
                        <h3 class="courosel-heading">Social Media</h3>
                        <p class="sub_para">
                        
                            A shortened link is more comfortable for your readers to click, copy and share in their post, helping your content gain organic exposure and social networks.
             
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <img src="assets/images/slider/11.jpg" alt="" class="img-fluid slider_img_cls">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7 col-sm-12 my-auto">
                        <h3 class="courosel-heading">Business and Individual Links Makeover</h3>
                        <p class="sub_para">
                            O-Trim is for both businesses and individuals who want to make a remarkable impact on the international market.
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <img src="assets/images/slider/22.jpg" alt="" class="img-fluid slider_img_cls">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>