

<header class="cmn_header">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto logo">
                <img src="../../../../assets/images/logoo.svg" (click)="refreshPage()">
  
            </div>
            <div class="col-auto ml-auto" >
                <ul>
        
                </ul>
            </div>
        </div>
    </div>
  </header>
  
  
  
  <div  class="container" style="text-align: justify;">
    <div  class="row">
      <div  class="col-12 mt-4 mb-3">
        <div  class="p-3 px-3 mb-0 rounded-0 card">
          <h4  class="mt-0 mb-1 fw-bold text-primary pb-2 text-captiliase">Terms of Use</h4>
          <ol  class="termofUse_content px-0 mb-0">
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
               You agree you will only use this service platform (website) in good faith and not provide false information about yourself. You agree you will do nothing to throttle, engineer a denial of service, or in any other manner impair the performance or functionality of our website. You agree you will not tamper with the reverse-engineer or otherwise use the website for any purpose for which not intended including, but not limited to accessing information about registered user store/shared/mention in our website. Identifying or attempting other registered users to gain access to the cloud database of the service

            </p>
            </li>
            <li  class="d-flex mt-0 mb-2"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                ONPASSIVE has offered various services/tools/facilities to the Founder/Customer, and Founder/Customer has accepted the terms and conditions of the ONPASSIVE. Founder/Customer will have access to the Confidential and Proprietary Information of the ONPASSIVE after reading and accepting the terms of use. Using Confidential Information by the Founder/Customer shall be treated as Confidential
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98"> 
            
                ONPASSIVE Confidential Information, Proprietary Information, Invention, Patents, Copyrights, Trademark and other Intellectual Property Rights are significant assets of the ONPASSIVE
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
            ONPASSIVE Confidential Information shall also mean all information available to ONPASSIVE and which is not available in a published form, at the Effective Date, including, but not limited to, research ideas, research results, research directions, patents, patent applications, and patent ideas, trade secrets, business models, business forecasts, marketing strategies, financial data, customer lists, investors, contractual relationships, manufacturing proprietary information and documentation, ideas, schematics, sketches, models, know-how, marketing campaigns algorithms, processes, formulae whether specifically stated or defined in subsequent paragraphs

            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98"> 
            
                The ONPASSIVE needs to Protect Its Intellectual Property, Confidential and Proprietary Information to the fullest extent. Founder/Customer will comply with the following provisions as part of the Founder/Customer’s contract of service/ facility with ONPASSIVE
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98"> 
                The Terms of use shall bind the principle as below; the length of service/facilities between the parties, the reason for terminating the service/facilities relationship between parties and the amount of the Founder/Customer’s payment paid by ONPASSIVE shall not affect the binding effects of the Terms of use. The Founder/Customer shall be liable to his/her obligations under the Terms of use after the termination of the Services/Facilities for whichever reasons
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                No Waiver of the breach, failure of condition, or any right or remedy in or granted by the provision of these Terms of use shall be effective unless it is in writing and signed by the party waiving the breach, failure, right or remedy. No waiver by the ONPASSIVE of any breach, failure, right and remedy shall be deemed a waiver of any other breach, failure, right or remedy, whether similar neither shall any waiver constitute a continuing waiver unless the writing so specifies
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                  
            
                The Terms of use and all of its exhibits make up the entire terms of use agreed upon and by the parties and supersedes all prior oral or written negotiations, representations or Terms of use reached by the Parties relating to the subject of these Terms of use
                
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                If a Court of Competent jurisdiction holds any provision of these Terms of used to be illegal, unenforceable or invalid in whole or in part for any reason. It shall not affect the validity and enforceability of the remaining provisions or portion of them

            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98"> 
            
                We have induced no party to enter this Terms of use by, nor is any party relying on, any representation or warranty on those outlined in these terms of use
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                ONPASSIVE have the legal right to change, changes, amend, addendum any clause of these Terms of use with no prior approval
            </p>
            </li>
          </ol>
          <h4  class="mt-0 mb-1 fw-bold text-primary pb-2 text-captiliase mt-2">Prohibition to Use
          </h4>
          <p  class="mb-2"><b >
            
            Except for the express written consent of ONPASSIVE, Founder/Customer agrees:

            </b></p>
          <ol  class="termofUse_content px-0 mb-0">
            <li  class="mt-0 mb-2 d-flex">
                Not to use or disclose to another person or entity any confidential information of ONPASSIVE
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">

                Not to make, or cause to be made, any copies, facsimiles or other reproductions including data files of any documents containing Confidential Information of ONPASSIVE; and

              </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                To use all other reasonable means to maintain the secrecy and confidentiality of the Confidential Information of ONPASSIVE
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                Data of or about the ONPASSIVE or its vendors, customers, Founder/Customers, advisors, mentors, service providers or consultants, in particular, contact information and sales information
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                Data about ONPASSIVE’s compliance with applicable law includes data about licenses, permissions, approvals, permissions or consents applied for, requested by, granted to or denied to the ONPASSIVE or its promoters


            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                Data about all filings and official submissions made by the ONPASSIVE to governmental authorities and the content of the discussion and communication by the ONPASSIVE with such authorities
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                Data related to the ONPASSIVE’s business, its existing and upcoming products, services, business strategy, Marketing Campaigns details, terms of engagement with its vendors or customers, pricing data, payment and refund policies and plan, business plans, users/founders/customers data, policies and plans which directly and indirectly related to the ONPASSIVE
              </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">

                Any data, documents, sketches, designs, plans, drawings, photographs, reports, communication, technical information, information about Intellectual Property Rights, user information, compilation, subscription details, asset information, know-how, research and development, internal policies

              </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">

                Any information related to the ONPASSIVE’s technology, software, hardware, code, design, business strategy, business plan, internal systems, and business architecture

              </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                Financial data, in particular, concerning budgets, fees and revenue calculations, sales figures, bonus plans, financial statements, profit expectations and inventories of the ONPASSIVE

            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98"> 
            
                Training data, particularly documents, videos, webinars, photographs, website data, processes, multimedia files, presentations and any such training resources that the Founder/Customer gains access to during his association with the ONPASSIVE
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                Security information (including passwords, login credentials) used to access any resource owned or operated by the ONPASSIVE, its affiliates, clients or third-party agents
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><b >
                Client or user data, user credits, user analytics, user preferences, feedback information:
            </b></li>
            <ol  class="px-4">
              <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                     xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                    viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                    <path 
                      d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                    </path>
                  </svg></span>
                <p  class="float-start w-98">
                    Any information, which may be reasonably understood by its nature, or by the context of its disclosure to be confidential; and
                </p>
              </li>
              <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                     xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                    viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                    <path 
                      d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                    </path>
                  </svg></span>
                <p  class="float-start w-98">
                Any information derived from any of the above information; and
                </p>
              </li>
              <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                     xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                    viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                    <path 
                      d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                    </path>
                  </svg></span>
                <p  class="float-start w-98">
                
                Original information supplied by the ONPASSIVE or information provided to the ONPASSIVE by third parties which the ONPASSIVE must keep confidential
                </p>
              </li>
            </ol>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span> 
            
                Prohibition of postings about other companies or other business opportunities or programs, including their links
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                Prohibition of sharing posting and comment that reflects a race, sex, caste, religion, political agenda, team competition and cross-recruiting as well,
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                Prohibition of vigorous and impassioned sharing of ideas, negative languages, webinar/videos/community/data of the ONPASSIVE
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                Take part in constructive online dialogues and use our best judgment when posting to external or internal social media
            </p>
            </li>
          </ol>
          <h4  class="mt-0 mb-1 fw-bold text-primary pb-2 text-captiliase mt-2">Obligations</h4>
          <ol  type="I" class="termofUse_content mb-0 px-0">
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                The Founder/Customer understands and acknowledges that the Confidential Information is of immense value to the ONPASSIVE and its Affiliates or its present, past or prospective clients. The Founder/Customer understands that any use or disclosure of such Confidential Information including any inadvertent disclosure can cause immense and irreparable harm, loss, damage and injury to the ONPASSIVE and its Affiliates, and its reputation. Hence undertakes to keep such Confidential Information confidential
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
                The Founder/Customer agrees and undertakes that at all times during the term of this Terms of use and thereafter on termination of this Terms of use for whatever reason to hold in the strictest confidence, and not to use, except for the benefit of the ONPASSIVE and its Affiliates, and refrain from in any manner divulging, discussing, disclosing, or otherwise releasing, the Confidential Information to any third party or in any manner directly or indirectly using the Confidential Information without the written authorization of the ONPASSIVE
            </p>
            </li>
            <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">
            
                The Founder/Customer recognizes that the ONPASSIVE and its Affiliates have received and, in the future, will receive from third parties, information that would be confidential and proprietary to such third parties, during the terms of use
            </p>
            </li>
            <!-- <li  class="mt-0 mb-2 d-flex"><span  class="float-start w-2"><svg
                   xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                  <path 
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
                  </path>
                </svg></span>
              <p  class="float-start w-98">The Founder/Customer recognizes that the ONPASSIVE and its
                Affiliates have received and, in the future, will receive from third parties, information that would be
                confidential and proprietary in nature to such third parties, during the term of use.</p>
            </li> -->
          </ol>
          <h4  class="mt-0 mb-1 fw-bold text-primary pb-2 text-captiliase mt-2">Payment Policy</h4>
          <p  class="mb-0">
            Founder/Customer shall eligible for our various services/facilities after making valid/authorized payment (through the modes as explained/mentioned on our website). Payment policies and structure are defined by ONPASSIVE at its sole discretion, and it will change periodically as per business strategies and plans (as required).
        </p>
        </div>
      </div>
    </div>
  </div>
  
  
  <app-otrim-footer></app-otrim-footer>
  <app-otrim-copyright></app-otrim-copyright>